{% extends "base.html" %}

{% block content %}
    <h1 class="font-bold text-gold text-2xl mb-2">Add Target</h1>
    <form class="bg-gold flex flex-col items-center justify-center rounded-md text-xl font-bold" method="post">
        {{ form.csrf_token }}
        <div class="flex flex-row">
            {{ form.mat_name.label(class_="p-2 m-2") }}
            {{ with_errors(form.mat_name, class="p-2 m-2 rounded-md") }}
        </div>
        {% for layer in form.layers %}
            {{ layer.csrf_token }}
            <h1>Layer {{ loop.index }}</h1>
            <div class="flex flex-col items-center justify-center">
                <div class="flex flex-row items-center justify-center">
                    {{ layer.thickness.label(class_="p-2 m-2") }}
                    {{ with_errors(layer.thickness, class="p-2 m-2 rounded-md") }}
                </div>
                {% for element in layer.elements %}
                    {{ element.csrf_token }}
                    <div class="flex flex-row items-center justify-center">
                        {{ element.z.label(class_="p-2 m-2") }}
                        {{ with_errors(element.z, class="p-2 m-2 rounded-md") }}
                        {{ element.a.label(class_="p-2 m-2") }}
                        {{ with_errors(element.a, class="p-2 m-2 rounded-md") }}
                        {{ element.s.label(class_="p-2 m-2") }}
                        {{ with_errors(element.s, class="p-2 m-2 rounded-md") }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <input class="bg-garnet text-gold rounded-md hover:bg-light-garnet hover:text-light-gold shadow-md self-center col-span-2 p-2 m-2" type="submit" value="Save">
    </form>
{% endblock %}