{% extends "base.html" %}

{% block content %}

    <!-- Menu bar for SPSPlot -->
    <ul class="flex flex-row items-center justify-center bg-light-slate text-garnet font-bold rounded-md p-2 w-full">
        <li class="bg-gold rounded-md shadow-md m-2 p-2 hover:text-light-garnet hover:bg-light-gold"><a class="action" href="{{ url_for('spsplot.add_target_material') }}">Add Target Material</a></li>
        <li class="bg-gold rounded-md shadow-md m-2 p-2 hover:text-light-garnet hover:bg-light-gold"><a class="action" href="{{ url_for('spsplot.add_rxn') }}">Add Reaction</a></li>
    </ul>

    <h1 class="self-center text-4xl font-bold m-2 underline text-gold">Settings</h1>
    <div class="self-center grid grid-cols-1 justify-items-center items-center p-2 bg-garnet w-fit rounded-md m-4 text-gold">
        <div class="bg-garnet w-fit rounded-md flex text-2xl m-4">
            <table class="table-auto border-collapse text-xl border-neutral border-4  mr-4" name="targ_table" id="targ_table">
                <caption class="font-bold text-2xl mb-2">Target Materials</caption>
                <tr>
                    <th class="border-neutral text-xl border-2 p-2">Name</th>
                    <th class="border-neutral text-xl border-2 p-2">Layer Symbols</th>
                    <th class="border-neutral text-xl border-2 p-2">Layer Thicknesses(&mu;g/cm<sup>2</sup>)</th>
                </tr>
            {% for mat in target_mats %}
                <tr>
                    <td class="border-neutral border-2 p-2 hover:text-light-gold"><a class="action" href="{{ url_for('spsplot.update_target_material', id=mat['id']) }}">{{ mat.mat_name }}</a></td>
                    <td class="border-neutral text-xl border-2 p-2">{{ mat.mat_symbol.replace('"','') | safe }}</td>
                    <td class="border-neutral border-2 p-2">{{ mat.thicknesses }}</td>
                </tr>
            {% endfor %}
            </table>
            <table class="table-auto border-collapse border-neutral border-4 m-2" name="rxn_table" id="rxn_table">
                <caption class="font-bold mb-2">Reactions</caption>
                <tr>
                    <th class="border-neutral border-2 p-2">Reaction</th>
                    <th class="border-neutral border-2 p-2">Target Material</th>
                </tr>
            {% for rxn in reactions %}
                <tr>
                    <td class="border-neutral border-2 p-2 hover:text-light-gold"><a class="action" href="{{ url_for('spsplot.update_rxn', id=rxn['id']) }}">{{ rxn.rxn_symbol | safe }}</a></td>
                    <td class="border-neutral border-2 p-2">{{ rxn.target_material.mat_name }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <form class="flex flex-col text-2xl bg-garnet w-fit rounded-md m-4 p-2 text-gold" method="post">
            {{ form.csrf_token }}
            <fieldset class="border-neutral border-2 items-center justify-items-center grid grid-cols-6 mb-2">
                <legend class="font-bold p-2">Plot Settings</legend>
                {{ form.beam_energy.label }}
                {{ with_errors(form.beam_energy, class="text-slate m-2 px-2 rounded-md") }}
                {{ form.sps_angle.label }}
                {{ with_errors(form.sps_angle, class="text-slate m-2 px-2 rounded-md") }}
                {{ form.b_field.label }}
                {{ with_errors(form.b_field, class="text-slate m-2 px-2 rounded-md") }}
                {{ form.rho_min.label | safe}}
                {{ with_errors(form.rho_min, class="text-slate m-2 px-2 rounded-md") }}
                {{ form.rho_max.label | safe }}
                {{ with_errors(form.rho_max, class="text-slate m-2 px-2 rounded-md") }}
            </fieldset>
            <fieldset class="border-neutral border-2 items-center justify-items-center grid grid-cols-6 mb-2">
                <legend class="font-bold">Plot Tags</legend>
                {% for field in form.buttons %}
                    {{ field.label(class_="m-2") }}
                    {{ with_errors(field, class="accent-gold") }}
                {% endfor %}
            </fieldset> 
            <input class="bg-gold text-garnet self-center justify-center font-bold text-2xl rounded-md shadow-md hover:bg-light-gold hover:text-light-garnet m-4 p-2" type="submit" value="Plot">
        </form>
    </div>
    <h1 class="self-center text-4xl font-bold m-2 underline text-gold">Result</h1>
    <div class="flex justify-center w-5/6 m-4 self-center rounded-md bg-garnet">
        {% if plot %}
            <img class="object-scale-down p-2" src= 'data:image/svg+xml;base64,{{ plot }}'/>
        {% endif %}
    </div>
 {% endblock %}