{% extends "base.html" %}

{% block content %}
    <h1 class="font-bold text-gold text-2xl mb-2">Add Level to a Reaction</h1>
    <form class="bg-gold grid grid-cols-[fit-content] items-center justify-items-center rounded-md text-xl font-bold" method="post">
        {{ form.csrf_token }}
        {{ form.rxn_id.label(class_="w-fit m-2") }}
        {{ with_errors(form.rxn_id, class="p-2 m-1 rounded-md w-full") }}
        {{ form.excitation.label }}
        {{ with_errors(form.excitation, class="p-2 m-1 rounded-md") }}
        <input class="bg-garnet text-gold rounded-md hover:bg-light-garnet hover:text-light-gold shadow-md self-center col-span-2 p-2 m-2" type="submit" value="Save">
    </form>
    <form action="{{ url_for('spsplot.delete_level', id=level.id) }}" method="post">
        <input class="bg-garnet text-gold rounded-md p-2 text-xl m-2 font-bold hover:bg-light-garnet hover:text-light-gold shadow-md self-center" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}