{% extends "base.html" %}

{% block content %}

    <h1 class="self-center text-4xl font-bold m-2 underline text-gold">User: {{ user.username }}</h1>
    <div class="bg-garnet text-gold w-fit rounded-md flex text-2xl p-2 m-4">
        <table class="table-auto border-collapse border-neutral border-4  mr-4" name="targ_table" id="targ_table">
            <caption class="font-bold mb-2">Target Materials</caption>
            <tr>
                <th class="border-neutral text-xl border-2 p-2">Name</th>
                <th class="border-neutral text-xl border-2 p-2">Layer Symbols</th>
                <th class="border-neutral text-xl border-2 p-2">Layer Thicknesses(&mu;g/cm<sup>2</sup>)</th>
            </tr>
        {% for mat in user.target_materials %}
            <tr>
                <td class="border-neutral border-2 p-2">{{ mat.mat_name }}</td>
                <td class="border-neutral text-xl border-2 p-2">{{ mat.mat_symbol.replace('"','') | safe }}</td>
                <td class="border-neutral border-2 p-2">{{ mat.thicknesses }}</td>
            </tr>
        {% endfor %}
        </table>
        <table class="table-auto border-collapse border-neutral border-4 m-2" name="rxn_table" id="rxn_table">
            <caption class="font-bold mb-2">Reactions</caption>
            <tr>
                <th class="border-neutral border-2 p-2">Reaction ID</th>
                <th class="border-neutral border-2 p-2">Reaction Eqn.</th>
                <th class="border-neutral border-2 p-2">Target Material</th>
            </tr>
        {% for rxn in user.reactions %}
            <tr>
                <td class="border-neutral border-2 p-2">{{ rxn.id }}</td>
                <td class="border-neutral border-2 p-2">{{ rxn.rxn_symbol | safe }}</td>
                <td class="border-neutral border-2 p-2">{{ rxn.target_material.mat_name }}</td>
            </tr>
        {% endfor %}
        </table>
        <table class="table-auto border-collapse border-neutral border-4 m-2" name="level_table" id="level_table">
            <caption class="font-bold mb-2">Levels</caption>
            <tr>
                <th class="border-neutral border-2 p-2">Level ID</th>
                <th class="border-neutral border-2 p-2">Excitation (MeV)</th>
                <th class="border-neutral border-2 p-2">Reaction ID</th>
            </tr>
        {% for level in user.levels %}
            <tr>
                <td class="border-neutral border-2 p-2">{{ level.id }}</td>
                <td class="border-neutral border-2 p-2">{{ level.excitation }}</td>
                <td class="border-neutral border-2 p-2">{{ level.reaction_id }}</td>
            </tr>
        {% endfor %}
        </table>
        
    </div>
    <form action="{{ url_for('admin.delete_user', id=user.id) }}" method="post">
        <input class="bg-garnet text-gold rounded-md p-2 text-xl m-2 font-bold hover:bg-light-garnet hover:text-light-gold shadow-md self-center" type="submit" value="Delete User" onclick="return confirm('Are you sure?');">
    </form>
    <form action="{{ url_for('admin.clear_user_data', id=user.id) }}" method="post">
        <input class="bg-garnet text-gold rounded-md p-2 text-xl m-2 font-bold hover:bg-light-garnet hover:text-light-gold shadow-md self-center" type="submit" value="Clear User Data" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}