{% extends "base.html" %}


{% block content %}
    <div class="bg-white text-slate rounded-md w-5/6 m-2 p-1">
        <h2 class="bg-gold text-slate font-bold text-lg rounded-md p-1">
            About WebSPS
        </h2>
        <p class="text-lg p-2">
            WebSPS was developed for use with the Florida State University Super-Enge Split-Pole Spectrograph. It was developed by me, Gordon McCann, while I was 
            a graduate student working with the spectrograph, as a way to more easily and readily share utilites that are used for the SPS. The original utilities for the SPS were
            developed by several graduate students at Yale while the SPS was housed there (D. Visser, C. M. Deibel, et al), and then transcribed several times over by myself until they
            reached this point. It makes use of several open-source libraries, most prominently Flask, SQLite, matplotlib, numpy, scipy and pycatima. Any feedback is welcome!
        </p>
    </div>
    <h2 class="bg-gold text-garnet font-bold text-lg rounded-md p-1">Current Maintainer email: gmccann@fsu.edu</h2>
{% endblock %}