{% extends "base.html" %}

{% block content %}
    <img class="w-1/2 rounded-md" src="static/images/sps.jpg"/>
    <div class="bg-white text-slate rounded-md w-5/6 m-2 p-1">
        <h2 class="bg-gold text-slate font-bold text-lg rounded-md p-1">
            Welcome to WebSPS!
        </h2>
        <p class="text-lg p-2">
            WebSPS is a hub for applications used with the Super-Enge Split-Pole Spectrograph at FSU. Currently, as WebSPS is brand new,
            there is only one application, SPSPlot, which allows you to visualize what states will be present at the focal plane for a given set of reactions
            and SPS parameters. Hopefully, WebSPS will grow over time and allow everyone to share ideas and tools. Make an account and try out the utilities!
        </p>
    </div>
    <div class="bg-white text-slate rounded-md w-5/6 m-2 p-1">
        <h2 class="bg-gold font-bold text-lg rounded-md p-1">
            Details
        </h2>
        <p class="text-lg p-2">
            WebSPS is a fullstack python web application using Flask and an SQLite database. As such it is pretty easy to modify and learn (see the Flask documentation
            for more details on getting started). WebSPS comes with some SPS-related python classes that abstract away most of the physics needed for SPS data and uses
            pycatima for energy loss calculations. Additionally, WebSPS uses Tailwind-CSS to make everything look pretty.
            If you want a desktop version of some of the tools here, look for the spspy repository, which has tools like SPSPlot and SPANC.
        </p>
    </div>
 {% endblock %}